@model E__Market.Models.Product

@{
    ViewBag.Title = "Details";
}

<h1 style="color:blue;text-align:center">Details Of Product</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descroption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descroption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Products", new {  id = Model.Id })" class="btn btn-success" target="_blank">
        <span class="glyphicon glyphicon-ok"> Edit</span>
        </a>
        <br />
        <br />
        <a href="@Url.Action("Index", "Products")" class="btn btn-primary" style="text-align :center;margin-bottom:10px">
            <span class="glyphicon glyphicon-backward"></span>
            Back to List
        </a>
</p>
